@CHARSET "ISO-8859-1";

@font-face {
  font-family: Poppins-Regular;
  src: url('fonts/poppins/Poppins-Regular.ttf'); 
}

.cardtitle{
  text-size-adjust: 2vw;
  text-indent: 1vw;
  font-size: 2vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: left;
}

.cardinfo{
  font-size: 25px;
  position: relative;;
  float:left;
  text-align: left;
  position:absolute;
}

.mycare{
	display: block;
	height:5vw;
	margin-left: 38%;
	/* width:70vw; */
	margin-right: auto;
	float:center;
	width: 22%;
  }


ul {
    list-style-type: none;
    z-index:2;
    height: 4vw;
    width: 98vw;
    margin: -1;
    padding: 1px;
    overflow: hidden;
    background-color: black;
    position: -webkit-sticky;/*Safari*/
    position: sticky;
    top: 0;
}

.a {
    border: none;
    outline: none;
    top:0;
    float: left;
    padding:  5px 5.7vw;
    display: inline;
    color:white;
    background-color: black;
    height: 55px;
    width: 20%;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 1.2vw;
    
}

.active, .a:hover {
    background-color: #4CAF50;
    text-shadow: 1px 2px 10px #000;
    color: #E5E7E9;
    transform: scale(1.1);
}
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    margin: 1;
    max-width: 100%;
  }

  .footer {
    background-color: black;
    position:relative;
    left: 0;
    bottom: 0;
    
    width: 100%;
    color:white;
    padding: 5px;
  }

  .img{
    position: relative;
    top: 35px;
    height:65%;
    width:30%;
    display: block;
    border-radius: 10vw;
  }
  
  /* Float four columns side by side */
  .column {
    margin-left: 2vw;
    float: left;
    width: 47vw;
    padding: 0 10px;
    padding-top: 2.5vw;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 43vw;
    height:20.9vw;
    font-family: poppins-regular;
    padding: 1vw;
    background-color: #ddd7d7;
    transition:0.3s;
    border-radius: 5px;
    /* text-align: justify; */
    /* text-justify: inter-word; */
  }

  .container {
    padding: 2px 16px;
    
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
  } 
  .h1{
    text-decoration: none;
  }

  /* like button */

  .fa-line-chart {
    cursor:pointer;
    padding:1vw 1vw .7vw;
    background:#fff;
    border-radius:20vw;
    position: relative;
    top: -3.3vw;
    left: -.1vw;
    color:#aaa;
    transition:.2s;
  }
  
  .fa-line-chart:hover {
   color: #4CAF50;
  }
  
  i:before {
    font-family:fontawesome;
    content:'\f004';
    font-style:normal;
  }
  
  i:press{
    animation: size .4s;
    color:#e23b3b;
  }
  
  .fa-line-chart-red{
    cursor:pointer;
    padding:10px 12px 8px;
    background:#fff;
    border-radius:50%;
    display:inline-block;
    margin:0 0 15px;
    color: #4CAF50;
    transition:.2s;
  }

.fa-user-circle-o {
position: relative;
color: rgb(44, 43, 43);
top: -1vw;  
}



.comminfo{
  width: 26vw;
  height: 15vw;
  top: -13vw;
  color: #000;
  text-justify: inter-word;
  text-overflow: inherit;
  margin-left: 15vw;
  overflow-wrap: break-word;
  position: relative;
  /* background-color: red; */
}
/* @keyframes fade {
  0% {color:#transparent;
  50% {color:#e23b3b;}
  100% {color:#transparent;}
}

@keyframes size {
  0% {padding:10px 12px 8px;}
  50% {padding:14px 16px 12px;  
    margin-top:-4px;}
  100% {padding:10px 12px 8px;}
} */

h1{
  text-align: justify;
  text-justify: inter-word;
  font-size: 2vw;
}
p{
  /* text-align: justify;
  text-justify: inter-word; */
  font-size: 1.3vw;
}

.joincomm{
  position: relative;
  top: -3.5vw;
  left: 5vw;
  background-color: #4CAF50;
  border: none;
  color: black;
  padding: 1vw 3vw;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3vw;
  transition: .2s;
  
}
.joincomm:hover {
  background-color: #4CAF50;
  color:black;
  transform: scale(1.1);
}

.members{
  position: relative;
  color: rgb(44, 43, 43);
  top: -3.7vw;
  left:1.5vw;
}

/* search box css */
.search-box{
  position: relative;
  float: right;
  top: 1vw;
  transform: translate(-1%,-50%);
  transition-duration: .4s;
  background: #2f3640;
  height: 3vw;
  width: 4vw;
  text-align: center;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover {
  width: 19vw;
  
}

.search-btn{
  text-decoration: none;
  float: right;
  color:white;
  /* margin-top: .1vw; */
  font-size: 1.5vw;
   border-radius: 50%;
  border: none;
  outline: none;
  background: none;
}

.search-text{
  border: none; 
  background: none; 
  outline: none;
  float: left;
  padding: 0;
  font-size: 1.2vw;
  transition: 0.4s;
  line-height: 1.5vw;
  color: white;
  width: 0vw;
}

.search-box:hover > .search-text{
  width: 15vw;
  padding: 0 6px;  
} 

/* search box end */
